<md-dialog aria-label="{{ 'CHANGESTATUS_TITLE' | translate }}">
    <md-toolbar>
      <div class="md-toolbar-tools de-dialog-header">
        <h3>{{ 'CHANGESTATUS_TITLE' | translate }}</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding class="de-dialog">
        <div layout="row" layout-align="center" >{{ 'CHANGESTATUS_MESSAGE' | translate }}</div>
        <div layout="row" layout-align="space-around">
          <md-button ng-click="answer('PRG')" class="md-raised md-accent">
            {{ 'CHANGESTATUS_INPROGRESSBUTTON' | translate }}
          </md-button>
          <md-button ng-click="answer('SHP')" class="md-raised md-accent">
            {{ 'CHANGESTATUS_SHIPPEDBUTTON' | translate }}
          </md-button>
        </div>
    </md-dialog-content>
</md-dialog>
